@using Microsoft.Extensions.Options
@using XamarinIdentity.Auth.Models
@{
    ViewData["Title"] = "XamarinIdentity.Auth Home";
}
@inject IOptions<StsConfig> OptionsStsConfig

@if (User.Identity.IsAuthenticated)
{
    <h1>Hi @User.Identity.Name</h1>
}
else
{
    <br />
}

<a href="@OptionsStsConfig.Value.ClientUrl">
    ClientUrl
</a>

